header{
    width: 800px;
    height: 100px;
    margin: 0 auto;
    /* background-color: aliceblue; */
    padding: 0 5px;
    /* border: 1px solid black; */
}
main{
    width: 600px;
    /* background-color: aliceblue;*/
    padding: 0 5px;
    height: 259px;
}
aside{
    width: 200px;
    height: 259px;
}
.width{
    width: 800px;
}
.utama{
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    /* border: 1px solid black; */
    border-top: none ;
}
.all{
    display: grid;
    margin-top: 45px;
}nav{
    padding: 10px 5px;
}
nav a{
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;    
}   
nav a:hover{
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    padding-left: 5px ;
}
.navbar .active{
    background-color: rgba(100, 126, 126, 0.308);
}
.sosmed img:hover{
    filter: drop-shadow(2px 2px 5px rgba(36, 27, 27, 0.623));
}
nav a{
    color: white;
}