body {
  background-image: url(/img/TOKO\ MEMET\ TANPA\ MANUK.jpg);
  background-size: cover;
}
.isi{
  width: 100%;
  height: 90vh;
}
nav {
  display: flex;
  gap: 25px;
  background-color: #a51717;
  padding: 20px 15px 15px 15px;
  margin: none;
  position: fixed;
}
a {
  text-decoration: none;
  color: white;
}
.container-menu {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #a51717;
}
.navbar-nav {
  display: flex;
  gap: 25px;
}
.link-nav {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  justify-items: center;
}
.navbar {
  padding: 0px;
}
.linknav {
  width: 24px;
  height: 24px;
}
.navbar-toggler {
  margin-right: 75vw;
}
.text-gambar {
  display: flex;
  padding: 20px 20px 58px 20px;
  column-gap: 15px;
  width: 100%;
  height: 65vh;
  font-size: 1.5rem;
}
.text-gambar .text {
  background-color: #3f3b3bc0;
  padding: 15px;
  border-radius: 20px;
  width: auto;
  height: auto;
}
.text img {
  width: 149px;
  height: 84px;
}
.text p {
  color: #ffffff;
}
iframe {
  padding: 5px;
  border: 1px solid black;
  width: 50%;
  height: 65vh;
}
#footer {
  background-color: #a51717;
  margin-left: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
