*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
}
body{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffa12c;
}
.container{
    width: 100%;
    display: flex;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px black;
    margin: 15px auto;
}
.login{
    width: 400px;
    height: 500px;
    display: flex;
    padding: 85px 75px;
    column-gap: 45px;
}
.form{
    width: 250px;
    margin: 60px auto;
}
h1{
    border-top: 2px solid #ffd500;
}
p{
    text-align: center;
    margin: 10px;
}
.right img{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
form label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}
button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffa12c;
}
button:hover{
    background-color: rgba(214, 86, 64,1);
}
.pw{
    display: flex;
}
#show_password{
    width: 15px;
    height: 15px;
}
.register{
    width: 400px;
    height: 500px;
    display: flex;
    padding: 55px 75px;
    column-gap: 45px;
}