body {
  background-image: url(/img/bg.webp);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  gap: 25px;
  background-color: #a51717;
  padding: 20px 15px 15px 15px;
  margin: none;
  position: relative;
}
a {
  text-decoration: none;
  color: white;
}
.container-menu {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #a51717;
}
.navbar-nav {
  display: flex;
  gap: 25px;
}
.link-nav {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  justify-items: center;
}
.navbar {
  padding: 0px;
}
.linknav {
  width: 24px;
  height: 24px;
}
.navbar-toggler {
  margin-right: 75vw;
}
.shopping-cart {
  position: absolute;
  background-color: #fff;
  width: 30rem;
  height: auto;
  right: -100%;
  z-index: 100;
  transition: 0.3s;
  padding: 20px;
}
.shopping-cart #button1 {
  border: none;
  background-color: #7e0c17;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  width: 9rem;
}
.shopping-cart.active button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #7e0c17;
  right: 5%;
  position: absolute;
  font-size: 1.5rem;
  transform: translateY(-14px);
}
.shopping-cart.active ul li{
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.shopping-cart.active {
  right: 0;
}
.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}
.buy {
  background-color: whitesmoke;
  position: absolute;
  z-index: 100;
  display: grid;
  top: -100%;
  right: 28%;
  padding: 30px 90px;
  gap: 25px;
  height: auto;
  width: 550px;
  transition: 0.5s ease-in-out;
}
.top img {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
.buy.active {
  top: 0;
}
.buy input {
  border: #fff;
  border-bottom: 0.5px solid #000;
  background-color: transparent;
}
.buy select {
  border: none;
  background-color: transparent;
}
.buy select:focus {
  outline: none;
}
.buy #tombol-beli {
  border: 1px solid #7e0c17;
  border-radius: 20px;
  background-color: #7e0c17;
  color: #fff;
}
.buy input:focus {
  outline: none;
}
.buy #tombol-beli {
  height: 3rem;
}
.card-img-top {
  padding: 15px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.411);
}
.card {
  margin: 25px;
  position: relative;
  width: auto;
}
.produk-top {
  display: flex;
  column-gap: 80px;
  justify-content: center;
}
.produk-bottom {
  display: flex;
  column-gap: 80px;
  justify-content: center;
}
.btn1-primary {
  background-color: #7e0c17;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 100rem;
  text-align: center;
}
.btn2-primary {
  border-radius: 10px;
  padding: 10px;
  display: block;
  width: 40px;
  justify-items: center;
  justify-content: center;
}
.button-beli {
  display: flex;
  justify-items: center;
}
.btn2 img {
  width: 30px;
  height: 30px;
}
.card-body a {
  text-decoration: none;
  color: aliceblue;
}
.all {
  row-gap: 50px;
}
#footer {
  background-color: #a51717;
  margin-left: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.card:hover {
  box-shadow: 10px 10px 10px black;
}
.btn1-primary:hover {
  box-shadow: 5px 5px 1px #66636471;
  background-color: #fff;
  color: #000;
}
